modd-cart {
    flex: 1;
    box-shadow: 0 0 1px 0 silver;
    position: sticky;
    top: 10pt;
    background-color: white;
}

modd-cart ul {
    max-height: 300pt;
    overflow-y: auto;
}

modd-cart.collapsed ul,
modd-cart.collapsed form.checkout,
modd-cart.collapsed .empty-message {
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

modd-cart header {
    font-size: var(--title-text-size);
    padding: 10pt;
    background-color: #EEE;
}

modd-cart header .total-count {
    float: right;
}

modd-cart .empty-message {
    padding: 10pt;
    display: block;
}

modd-cart ul {
    margin: 10pt;
    padding: 0;
    list-style: none;
}

modd-cart li {
    margin-bottom: 5pt;
}

modd-cart form.line-item {
    display: flex;
    gap: 10pt;
    align-items: center;
}

modd-cart form.line-item button {
    padding: 5pt;
    background-color: transparent;
    border: none;
    padding: 10pt;
    transition: linear 0.3s all;
}

modd-cart form.line-item button:not(:disabled):hover {
    background-color: #EEE;
}

modd-cart form.line-item .quantity {
    flex: 0 0 2em;
}

modd-cart form.line-item .title {
    flex: 1;
}

modd-cart form.checkout {
    padding: 10pt;
}