* {
    box-sizing: border-box;
}

/* textual */
html {
    font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif;
}

h1 {
    font-size: 18pt;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 14pt;
}

h4 {
    font-size: 12pt;
}

body {
    font-size: 10pt;
}

/* major blocks */
body {
    margin: 0;
    padding: 80pt 10pt 60pt 10pt;
    position: relative;
}

main {
    max-width: 800px;
}

@media only screen and (min-width: 1000px) {
    main {
        margin-left: 100px;
    }
}

code {
    white-space: pre-wrap;
    margin: 10pt 0;
    padding: 0 10pt;
    display: block;
    line-height: 1.25;
    background-color: #EEE;
    border-radius: 10pt;
}

/* specific blocks */
body>footer,
body>header {
    padding: 10pt;
    display: block;
    position: fixed;
    left: 0;
    width: 100%;
    background-color: #FFFD;
    box-shadow: 0 0 3px 0 black;
}

body>footer {
    bottom: 0;
}

body>header {
    top: 0;
}

body>header>* {
    margin: 0;
}