* {
    box-sizing: border-box;
}

/* textual */
html {
    font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif;
}
h1 {
    font-size: 14pt;
}
h2 {
    font-size: 12pt;
}
h3 {
    font-size: 11pt;
}
h4 {
    font-size: 10pt;
}
body {
    font-size: 8pt;
}

/* major blocks */
body {   
    margin: 0;
    padding: 8pt 8pt 24pt 8pt;
    position: relative;
}
main {
  max-width: 800px;
}
code {
    white-space: pre-wrap;
    padding: 16pt;
    background-color: #555;
    color: white;
    border-radius: 8pt;
}

/* specific blocks */
body > footer {
  padding: 8pt;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #777;
  color: white;
}
