* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: sans-serif;
    font-weight: 100;
    --title-text-size: 1.2em;
    line-height: 1.5;
    margin: 0;
    padding: 20pt;
    box-sizing: border-box;
}

h1 {
    margin-top: 0;
}

button {
    padding: 5pt 20pt;
}

main {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10pt;
}