modd-product-listing {
    flex: 2;
}

modd-product-listing ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

modd-product-listing ul li {
    display: grid;
    padding: 10pt;
    box-shadow: 0 0 1px 0 silver;
    grid-template-columns: 100pt 1fr;
}

modd-product-listing li>* {
    grid-column-start: 2;
}

modd-product-listing li .thumbnail {
    float: left;
    max-height: 100pt;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 99;
}

modd-product-listing li+li {
    margin-top: 10pt;
}

modd-product-listing .author {
    grid-row-start: 2;
    grid-row-end: 3;
}

modd-product-listing .title {
    font-size: var(--title-text-size);
}